@charset "utf-8";

/*	
	v2.0 | 20110126
	Eric Meyer's Reset Reloaded
	http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family : NanumGothicWeb,Raleway,Helvetica Neue,Helvetica,AppleGothic,sans-serif,Arial;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

em,address {
	font-style:normal
}

a{
	text-decoration:none
}

a:hover,a:active,a:focus {
	text-decoration:underline
}

/* start */

html{
    background: url('http://i.stack.imgur.com/jGlzr.png') repeat 0 0 scroll;
    background-color:#0C0C0C;
    height:100%;
    width:100%;
}

h1 {
	text-align : center;
	margin-top : 20px;
	font-size : 1.5em;
	font-weight : 100; /*default value : 4000 */
	background-color: rgba(255, 255, 255, 0.5);
	letter-spacing : 0.1em;
	padding-top: 10px;
	padding-bottom : 10px;
}

img {
	max-width : 360px;
}

input[type=submit], button {
	padding-top : 2px;
	background-color:rgba(255, 255, 255, 0.8);
	font-size : 0.8em;
	font-family : 'NanumGothicWeb';
	color : black;
	border : none;
	width : 50px;
	height: 20px;
	border-radius : 1em;
	vertical-align: top;
}

button[name=c_delete] {
	padding-left: 0px;
	padding-right: 0px;
	padding-top : 0px;
	padding-bottom : 0px;
	line-height : 19px;
	background-color: rgba(0, 0, 0, 0.0);
	font-size : 0.5em;
	font-family : 'NanumGothicWeb';
	color : #787878;
	border : none;
	width : 15px;
	height: 19px;
	border-radius : 0em;
}

textarea {
	resize : none;
}

#content_content {
	padding : 10px 0px;
	background-color: rgba(255, 255, 255, 0.5);
	margin-top: 0px;
	margin-bottom: 10px;
}
#board_list {
	padding : 10px 20px;
}

#list_new{
	padding : 10px 20px;
}

#index_butten{
	padding : 10px 20px;
}

#show_content {
	text-align : center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

#content>img {

}

.list_content>h1, .list_content>#content_content, .list_content>.buttons, .list_content>.comment{
	display: none;
}

.comment {
	padding : 10px 20px;
	1line-height: 150px;
}

.comment_view {
	padding : 10px 20px;
	display: block;
	-webkit-transition: all 1s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

#request {
	margin : 20px 0px;
	text-align : center;
}

#login {
	margin : 20px 20px;
	text-align : left;
}

#wrap {
	width : 400px;
	border : 1px solid rgba(255, 255, 255, 0.5);
	margin: 0 auto;
}

#userid, #password {
    display: block;
    width : 320px;
    height: 25px;
    padding-left: 38px;
    margin-right : 20px;
    background: url('http://i.imgur.com/s0O9hy0.png') 10px center no-repeat, -webkit-linear-gradient(45deg, #ffffff 0%, #ffffff 80%, #a1a1a1 80%, #858585);
    color: #000000;
    border: 1px solid black;
    transition: box-shadow .3s;
}